.home-bg {
    background-image: url(../../image/bannerbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;

}

.home-info {
    height: 350px;
    width: 100%;
}

.search-btn {
    background-color: #f72851;
    color: white;
    border-radius: 40px;
}

.search {
    border: 0;
}

.active {
    color: black;

}

.inActive {
    color: #f72851;
    text-decoration: none;
}